header {
    background-color: $primary;
    color: $white;
    padding-top: $spacer;
    padding-bottom: 4 * $spacer;

    a { color: $white; }

    .title {
        font-size: 2 * $h1-font-size;
        margin-bottom: 2 * $headings-margin-bottom;
        line-height: 1.2;
    }

    .subtitle {
        font-size: 1.5 * $h1-font-size;
        display: block;
    }
}
