<p>Underscore is a team of developers specialising in Scala and functional programming.
You can find us on the web at <a href="http://underscore.io">http://underscore.io</a>
and on Twitter at <a href="http://twitter.com/underscoreio">@underscoreio</a>.</p>

<p>Copies of this and other Underscore books
can be found at <a href="http://underscore.io/books">http://underscore.io/books</a>.</p>

<p>We provide a comprehensive suite of commercial training courses,
which you can find at <a href="http://underscore.io/training">http://underscore.io/training</a>.</p>

<p>Contact the authors at <a href="mailto:hello@underscore.io">hello@underscore.io</a>
or on GitHub at <a href="http://github.com/underscoreio">http://github.com/underscoreio</a>.</p>
