<p>Copies of this, and related topics,
can be found at <a href="http://underscore.io/training">http://underscore.io/training</a>.
Team discounts, when available, may also be found at that address.
Contact the authors at <a href="mailto:hello@underscore.io">hello@underscore.io</a>.</p>

<p>Underscore is a team of developers specialising in Scala and functional programming.
You can find us on the web at <a href="http://underscore.io">http://underscore.io</a>
and on Twitter at <a href="http://twitter.com/underscoreio">@underscoreio</a>.</p>

<p>In addition to writing software,
we provide other training courses, books, and mentoring
to help you and your team create better software and have more fun.
For more information please visit
<a href="http://underscore.io/training">http://underscore.io/training</a>.</p>
