<p>Copies of this, and related topics, can be found at <a href="http://underscore.io/training">http://underscore.io/training</a>. Team discounts, when available, may also be found at that address. Contact the author regarding this text at: <a href="mailto:hello@underscore.io">hello@underscore.io</a>.</p>

<p>Our courses, workshops, and other products can help you and your team create better software and have more fun. For more information, as well as the latest Underscore titles, please visit <a href="http://underscore.io/training">http://underscore.io/training</a>.</p>

<hr/>

<p><em><strong>Disclaimer:</strong> Every precaution was taken in the preparation of this book. However, <strong>the author and Underscore Consulting LLP assume no responsibility for errors or omissions, or for damages</strong> that may result from the use of information (including program listings) contained herein.</em></p>
