<!DOCTYPE html>
<html lang="en">
  {% capture level %}{{ page.url | append: 'index.html' | split: '/' | size }}{% endcapture %}
  {% capture relative %}{% for i in (3..level) %}../{% endfor %}{% endcapture %}
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" media="screen" href="{{ relative }}css/screen.css">
    <link rel="stylesheet" media="print" href="{{ relative }}css/print.css">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  </head>
  <body>
    <div class="container">
      {{ content }}
      <footer>
        <p class="text-muted text-center">
          Underscore Core Scala, Copyright 2014 Underscore Consulting LLP
        </p>
      </footer>
      <script src="{{ relative }}js/site.js"></script>
    </div>
  </body>
</html>
